{% extends 'base.html.twig' %}
{% block title %}Mon panier{% endblock %}

{% block menu %}
    {{ include('partials/menu.html.twig') }}
{% endblock %}

{% block content %}
<div class="container"></br></br></br></br></br></br></br>
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.

    {% if cart|length > 0 %}
        <table class="table table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Total TTC</th>
                    <th scope="col">Poids</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% set totalTTC = 0 %}
                {% set totalWeight = 0 %}
                {% for item in cart %}
                    {% set priceHT = item.product.price %}
                    {% set tvaRate = (item.product.tva.value ?? 20) / 100 %}
                    {% set priceTTC = priceHT * (1 + tvaRate) %}
                    {% set totalItemTTC = priceTTC * item.quantity %}
                    {% set totalWeight = totalWeight + (item.product.weight.kg * item.quantity) %}

                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.product.description|default('') }}</td>
                        <td>x{{ item.quantity }}</td>
                        <td>{{ totalItemTTC|number_format(2, ',', '.') }} €</td>
                        <td>{{ (item.product.weight.kg * item.quantity) }} Kg</td>
                        <td>
                            <a href="{{ path('delete_to_cart', {'id' : item.product.id, 'type': item.type|default('trottinette') }) }}" style="color:blue">
                                <img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer">
                            </a>
                        </td>
                    </tr>

                    {% set totalTTC = totalTTC + totalItemTTC %}
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right mb-5">
            <b>Nombre de produits :</b> {{ quantity_product }}<br>
            <b>Total TTC :</b> {{ totalTTC|number_format(2, ',', '.') }} €<br>
            <b>Poids total :</b> {{ totalWeight }} kg<br>
            <b>Prix livraison :</b> {{ price|number_format(2, ',', '.') }} €<br>
            <b>Prix Total :</b> {{ (totalTTC + price)|number_format(2, ',', '.') }} €<br>
            <small class="text-muted">TVA incluse</small>

            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
</div>
{% endblock %}
