{% extends 'base.html.twig' %}

{% block title %}Mon compte : HichTrott{% endblock %}

{% block content %} <br><br><br><br><br><br><br>
    <div class="container">
        <h1>Mon compte</h1>

        {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Accéder au BackOffice</a></small></br>
        {% endif %}

        Bonjour {{ app.user.firstname }} , bienvenu dans votre compte.</br>
        C'est ici que vous allez pouvoir gérer toutes vos informations personnelles.
        <hr>

        <div class="row">

            <div class="col-md-3">
                <div class="account-item text-center">
                <img src="{{ asset('assets/img/password.png') }}" alt=""></br>
                    <a style="color:blue;" href="{{ path('account_password') }}">Modifier mon mot de passe</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="account-item text-center">
                <img src="{{ asset('assets/img/home.png') }}" alt=""></br>
                    <a style="color:blue;" href="{{ path('account_address') }}">Gérer mes adresses</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="account-item text-center">
                <img src="{{ asset('assets/img/product.png') }}" alt=""></br>
                    <a style="color:blue;" href="{{ path('account_order') }}">Mes commandes</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="account-item text-center">
                    <img src="{{ asset('assets/img/user.png') }}" alt=""><br>
                    <a style="color:blue;" href="{{ path('account_profile') }}">Mes informations</a>
                </div>
            </div>

        </div>
        <hr>
    </div>
{% endblock %}
