{% extends 'base.html.twig' %}

{% block title %}Mes commandes : Hich-Trott{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<div class="container">
    <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.<br>
    <a href="{{ path('account') }}" style="color: blue;">Retour</a>

    {% if orders|length == 0 %}
        <hr>
        <p class="text-center">
            Vous n'avez pas encore passé de commande sur La Boutique SY-Shop.
        </p>
    {% else %}
        <table class="table table-striped mt-4">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Référence</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Passée le</th>
                    <th scope="col">Livraison</th>
                    <th scope="col">Total Panier</th>
                    <th scope="col">Total Commande</th>
                    <th scope="col" class="text-right">Suivi</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td><span class="badge badge-secondary">{{ order.reference }}</span></td>
                        <td>
                            {% if order.paymentState == 0 %}
                                En attente de paiement
                            {% elseif order.paymentState == 1 and order.deliveryState == 0 %}
                                Paiement accepté / Commande validée
                            {% elseif order.deliveryState == 1 %}
                                Préparation en cours
                            {% elseif order.deliveryState == 2 %}
                                Livraison en cours
                            {% elseif order.deliveryState == 3 %}
                                Livraison terminée
                            {% endif %}
                        </td>
                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                        <td>{{ order.carrierPrice|number_format(2, ',', '.') }} €</td>
                        <td>{{ (order.total / 100)|number_format(2, ',', '.') }} €</td>
                        <td>{{ ((order.total / 100) + order.carrierPrice)|number_format(2, ',', '.') }} €</td>
                        <td class="text-right">
                            <a href="{{ path('account_order_show', { 'reference': order.reference }) }}" style="color:black;">
                                Voir ma commande
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<br><br><br><br><br><br>
{% endblock %}
