{% block carrousel %}
    {% if headers is defined and headers|length > 0 %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for key, trott in headers %}
            <li data-target="#myCarousel" data-slide-to="{{ key }}"{% if key == 0 %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for key, trott in headers %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}">
                {# Image du carrousel spécifique à la trottinette #}
                <img src="/uploads/{{ trott.image }}" alt="{{ trott.slug }}" />
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{ trott.slug }}</h1> {# Tu peux remplacer par trott.title si tu as un champ title #}
                        <p>{{ trott.description }}</p>
                        {% if trott.headerBtnTitle %}
                            <p>
                                <a class="btn btn-lg btn-info"
                                href="{{ path('trottinette_show', {'slug': trott.slug}) }}"
                                role="button">
                                    {{ trott.headerBtnTitle }}
                                </a>
                            </p>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}
{% endblock %}
