{% set cart_items = cart() %}

<a id="cartdetails" data-toggle="dropdown" aria-haspopup="true"
   aria-expanded="false" href="{{ path('cart') }}">
    <i class="fas fa-shopping-cart"></i>
</a>

<div aria-labelledby="cartdetails" class="dropdown-menu dropdown-menu-left p-2" style="margin-top:13px!important; width: 360px;">
    <div class="navbar-cart-product-wrapper">
        {% set totalTTC = 0 %}
        <div class="navbar-cart-product-list">
            {% if cart_items is not empty %}
                {% for item in cart_items %}
                    {% set priceHT = item.product.price %}
                    {% set tvaRate = (item.product.tva.value ?? 20) / 100 %}
                    {% set priceTTC = priceHT * (1 + tvaRate) %}
                    {% set totalItemTTC = priceTTC * item.quantity %}

                    <div class="navbar-cart-product">
                        <div class="w-100">
                            <div class="row">
                                <div class="col-md-12">
                                    <small class="d-block text-sm"><strong>{{ item.product.name }}</strong></small>
                                </div>

                                <div class="col-md-3 my-auto">
                                    {% if item.product.imagePath %}
                                        <img class="cart-product-image" src="{{ asset(item.product.imagePath) }}" alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="cart-product-image" src="{{ asset('img/default.png') }}" alt="image par défaut">
                                    {% endif %}
                                </div>

                                <div class="col-md-9">
                                    <small class="d-block text-sm">
                                        Prix unité TTC : <strong>{{ priceTTC|number_format(2, ',', '.') }} €</strong>
                                    </small>
                                    <small class="d-block text-muted">
                                        Quantité : <strong>{{ item.quantity }}</strong>
                                        <span class="cart-buttons">
                                            <a class="lien-cart" href="{{ path('delete_to_cart', {'id': item.product.id, 'type': item.type|default('trottinette') }) }}">
                                                <img src="{{ asset('img/delete.png') }}" alt="Supprimer">
                                            </a>
                                            <a class="lien-cart" href="{{ path('decrease_to_cart', {'id': item.product.id, 'type': item.type|default('trottinette') }) }}">
                                                <img src="{{ asset('img/less.png') }}" alt="-">
                                            </a>
                                            <a class="lien-cart" href="{{ path('increase_to_cart', {'id': item.product.id, 'type': item.type|default('trottinette') }) }}">
                                                <img src="{{ asset('img/more.png') }}" alt="+">
                                            </a>
                                        </span>
                                    </small>
                                    <small>
                                        Prix total TTC : <strong>{{ totalItemTTC|number_format(2, ',', '.') }} €</strong>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% set totalTTC = totalTTC + totalItemTTC %}
                {% endfor %}
            {% else %}
                <p>Votre panier est vide</p>
            {% endif %}
        </div>

        <div class="navbar-cart-total">
            <span class="text-uppercase text-muted btn btn-outline-test">
                Total commande TTC : <br>
                <strong class="text-uppercase">{{ totalTTC|number_format(2, ',', '.') }} €</strong>
            </span>
        </div>

        <div class="d-flex justify-content-between lien-panier">
            <a href="{{ path('cart') }}" class="mr-3 btn btn-outline-dark">
                <small>Voir panier</small> <i class="fa-arrow-right fa"></i>
            </a>
            <a href="{{ path('order') }}" class="btn btn-outline-dark">
                <small>Commander</small>
            </a>
        </div>
    </div>
</div>
