</br></br></br></br></br>

{# POP-UP LOGIN & REGISTER #}
<div class="wrapper" id="divOuverture">
    <span class="icon-close">
        <ion-icon name="close">X</ion-icon>
    </span>

    <div class="form-box login">

        <form method="post">
            {# {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %} #}

            {% if app.user %}
                <div class="mb-3 hello-user">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}" class="register-link"> </a>
                </div>

                {% if is_granted('ROLE_ADMIN') %}
                    <ul class="sous-menu-nom menu-mon-compte">
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="/compte">Compte</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                {% elseif is_granted('ROLE_USER') %}
                    <ul class="sous-menu-nom">
                        <li><a href="/compte">Compte</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                {% else %}
                    <ul class="sous-menu-nom">
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('register') }}">Inscription</a></li>
                    </ul>
                {% endif %}
            {% else %}
                <h2 style="font-weight:bold;">Se connecter</h2>

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
                    <label for="inputEmail">Email</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <label for="inputPassword">Mot De Passe</label>
                    <span class="show-password-login">Afficher</span>
                </div>

                <div class="remember-forgot">
                    <label style="font-weight:bold;">
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <input type="hidden" name="type" value="login">
                <button action="api_login" role="button" type="submit" class="btn">
                    Se connecter
                </button>

                <div class="login-register">
                    <p style="font-weight:bold; text-align:center;">
                        Pas encore de compte ? <a href="#" class="register-link">S'inscrire</a>
                    </p>
                </div>
            {% endif %}
        </form>
    </div>

    <div class="form-box register hello-user" style="margin-top:-420px">
        <h2 style="font-weight:bold;">Création du compte</h2>

        {# ✅ MODIF : on vérifie que formregister existe avant de l’utiliser #}
        {% if formregister is defined %}
            {{ form_start(formregister) }}

            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{ form_widget(formregister.firstname, {'attr': {'placeholder': 'Saisissez votre prénom'}}) }}
                {{ form_label(formregister.firstname) }}
                {{ form_errors(formregister.firstname) }}
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{ form_widget(formregister.lastname, {'attr': {'placeholder': 'Saisissez votre nom'}}) }}
                {{ form_label(formregister.lastname) }}
                {{ form_errors(formregister.lastname) }}
            </div>

            {# Champ N° Tel #}
            <div class="input-box">
                <span class="icon"><ion-icon name="call"></ion-icon></span>
                {{ form_widget(formregister.tel, {
                    attr: formregister.tel.vars.attr|merge({
                        'placeholder': '+33612345678',
                        'pattern': '^\\+((33[67]\\d{8})|(32[4-7]\\d{8}))$',
                        'title': 'Veuillez saisir un numéro valide : +33 6XXXXXXXX (France) ou +32 4XXXXXXXX (Belgique)',
                        'required': true
                    })
                }) }}

                {{ form_label(formregister.tel) }}
                {{ form_errors(formregister.tel) }}
            </div>


            {# Champ E-mail #}
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ form_widget(formregister.email, {'attr': {'placeholder': 'Saisissez votre e-mail',
                                                            'pattern': '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$',
                                                            'title': 'Format attendu: xx@xxxx.xx'}}) }}
                {{ form_label(formregister.email) }}
                {{ form_errors(formregister.email) }}
            </div>

            {# Champ mot de passe #}
            {# ⚠️ Doubler les antislashs pour éviter que Twig les échappe : \\d #}
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ form_widget(formregister.password.first, {'attr': {
                    'placeholder': 'Saisissez votre mot de passe',
                    'pattern': '(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[.]).{10,}',
                    'title': 'Min 10 caractères, 1 maj, 1 min, 1 chiffre, 1 point "."',
                    'required': true
                }}) }}

                {{ form_label(formregister.password.first) }}
                {{ form_errors(formregister.password.first) }}
                <span class="show-password">Afficher</span>
            </div>

            {# Champ confirmation du mot de passe #}
            {# même pattern pour cohérence front #}
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ form_widget(formregister.password.second, {'attr': {
                    'placeholder': 'Confirmez votre mot de passe',
                    'pattern': '(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[.]).{10,}',
                    'title': 'Min 10 caractères, 1 maj, 1 min, 1 chiffre, 1 point "."',
                    'required': true
                }}) }}
                {{ form_label(formregister.password.second) }}
                {{ form_errors(formregister.password.second) }}
                <span class="show-password-retype">Afficher</span>
            </div>


            {{ form_widget(formregister.submit, {'attr': {'class': 'btn'}}) }}

            {{ form_end(formregister) }}
        {% else %}
            {# ✅ Si formregister n’est pas défini, on évite l’erreur Twig et on peut afficher un message ou rien du tout #}
            {# <p class="text-center text-muted">Formulaire d’inscription non disponible sur cette page.</p> #}
        {% endif %}

        <div class="login-register">
            <p style="font-weight:bold;">Vous avez déjà un compte ?
                <a href="#" class="login-link">Se connecter</a>
            </p>
        </div>
    </div>
</div>
