<nav class="menu-nav">
    <!-- logo -->
    <a href="{{ path('app_home') }}" class="logo">
        <img src="{{ asset('/img/logo-trott.png') }}" alt="Logo Hich" />
    </a>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info" style="color: orange; font-weight: bold;">
            {{ message }}
        </div>
    {% endfor %}

    <!-- menu-btn -->
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn">
        <span class="nav-icon"></span>
    </label>

    <!-- menu principal -->
    <ul class="menu">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>

        <li style="position: relative;">
            <a href="#">Nos trottinettes <span><i class="fas fa-chevron-down"></i></span></a>
            <div class="dropdown-menu-right" style="position: absolute; background: #fff; z-index: 1000;">
                <ul class="sous-menu-nom">
                    {% for trottinette in trottinettes_menu %}
                        <li>
                            <a href="{{ path('app_trottinette_show', {'slug': trottinette.slug}) }}">
                                {{ trottinette.name }}
                            </a>

                            {% if trottinette.trottinetteAccessories|length > 0 %}
                                <ul class="sous-menu-accessoires">
                                    <li>
                                        <a href="{{ path('app_trottinette_accessoires', {'slug': trottinette.slug}) }}">
                                            Accessoires
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li><a href="/#contact">Nous contacter</a></li>
    </ul>
</nav>
