<nav class="menu-nav">
    <!-- logo -->
    <a href="/" class="logo">
        <img src="{{ asset('assets/img/logo-pergolazur-nav.png') }}" alt="Logo Pergolazur" />
    </a>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info" style="color: orange; font-weight: bold;">
            {{ message }}
        </div>
    {% endfor %}

    <!-- menu-btn -->
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <label class="menu-icon" for="menu-btn">
        <span class="nav-icon"></span>
    </label>

    <!-- menu -->
    <ul class="menu">
        <li><a href="/">Accueil</a></li>

        <li><a href="#">Trottinettes <span><i class="fas fa-chevron-down"></i></span></a>
            <div class="dropdown-menu-right">
                <ul class="sous-menu-nom">
                    {% for model in models %}
                        <li>
                            <a href="/nos-trotinettes/model-{{ model.id }}">{{ model.name }}</a>
                            {% if model.accessories is defined and model.accessories|length > 0 %}
                                <ul class="sous-menu-accessoires">
                                    {% for accessory in model.accessories %}
                                        <li>
                                            <a href="/nos-accessoires/{{ accessory.id }}">{{ accessory.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>

        <li><a href="/#contact">Contact</a></li>
    </ul>
</nav>
