<section class="slider" id="slider">
  <div class="container">
    <h3 class="text-center">Nouveautés</h3>
    <p class="text-center">Découvrez nos derniers articles</p>
    <ul id="autoWidth" class="cs-hidden">
      <!-- n°1 -->
      {% for trottinette in trottinettes %}
        <li class="item-a">
          <!-- box-slider -->
          <div class="box">
            <!-- img-box -->
            <div class="slide-img">
              <img src="/uploads/{{ trottinette.image }}" alt="trottinette isBest"/>
              <!-- overlayer -->
              <div class="overlay">
                <!-- buy-btn -->
                <a href="{{ path('trottinette_show', { 'slug' : trottinette.slug } ) }}" class="buy-btn">Voir</a>
              </div>
            </div>
            <!-- detail-box -->
            <div class="detail-box">
              <!-- type -->
              <div class="type">
                <a href="{{ path('trottinette_show', { 'slug' : trottinette.slug } ) }}">{{ trottinette.name }}</a>
              </div>
              <a href="{{ path('trottinette_show', { 'slug' : trottinette.slug } ) }}" class="buy-btn">Voir</a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
