{% extends 'base.html.twig' %}

{% block title %}{{ trottinette.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/show-product-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/slide-img-product-show.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/slide-img-product-show-swiper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/images-d-un-produit.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lightslider.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block content %}
<br><br><br><br>

<section class="cart__slide" id="slider-show">
    <div class="arrival__slide container">
        <h1>{{ trottinette.name }}</h1>
        <p>{{ trottinette.description }}</p>

        <div class="glide" id="glide1">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for img in trottinette.illustrations %}
                        <li class="glide__slide">
                            <div class="arrival">
                                <div class="cart__like">
                                    <div class="image__holder">
                                        <img src="/uploads/{{ img.image }}" alt="{{ trottinette.name }}" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li>Aucune image disponible pour cette trottinette.</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Arrows -->
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">Précédent</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Suivant</button>
            </div>
        </div>

        <h2>Accessoires associés</h2>
        <div class="accessoires-list">
            {% for acc in accessoires %}
                <div class="accessoire-item">
                    <a href="{{ path('accessoire', {'slug': acc.slug}) }}">
                        <img src="/uploads/{{ acc.image }}" alt="{{ acc.name }}">
                    </a>
                    <p>{{ acc.name }}</p>
                </div>
            {% else %}
                <p>Aucun accessoire lié à cette trottinette.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
