{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Valider ma commande - Hich-Trott{% endblock %}

{% block menu %}
    {{ include('partials/menu.html.twig') }}
{% endblock %}

{% block content %}
<div class="container my-5 py-5">
    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commande.</p>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison :</strong><br>

            {% if delivery is defined and delivery is not empty %}
                <div class="form-check mt-4">
                    {{ delivery|raw }}
                </div>
            {% else %}
                <div class="alert alert-warning mt-3">
                    Vous devez <a href="{{ path('account_address_add') }}">ajouter une adresse</a> avant de valider votre commande.
                </div>
            {% endif %}
            <hr>
        </div>

        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br>
            </div>

            <div class="order-summary">
                {% set total = 0 %}
                {% for key, item in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-4">
                            {% if item.product.imagePath %}
                            <img src="{{ asset(item.product.imagePath) }}" alt="{{ item.product.name }}" height="75px">
                            {% else %}
                            <img src="{{ asset('img/default.png') }}" alt="image par défaut" height="75px">
                            {% endif %}
                        </div>
                        <div class="col-6 my-auto">
                            {{ item.product.name }}<br>
                            <small>{{ item.product.description }}</small><br>
                            <small>x {{ item.quantity }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((item.product.price * item.quantity))|number_format(2, ',', '.') }} €
                        </div>
                    </div>
                    {% set total = total + (item.product.price * item.quantity) %}
                {% endfor %}
            </div>

            <hr>
            <strong>Sous-total :</strong> {{ (total)|number_format(2, ',', '.') }} €<br>
            <strong>Livraison :</strong> {{ (price)|number_format(2, ',', '.') }} €
            <hr>
            <strong>Total :</strong> {{ ((total) + price)|number_format(2, ',', '.') }} €

            {% if delivery is defined and delivery is not empty %}
                <a href="{{ path('stripe_create_session', {'reference': reference}) }}" class="btn btn-success btn-block mt-3" id="checkout-button">
                    Payer | {{ ((total) + price)|number_format(2, ',', '.') }} €
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    const stripe = Stripe("pk_test_51HqeyuB0aAqL8oGBheuezPTWvqfKJc0NpyQmtKZMoeslsyE4zkvSHOtCHLx8rkY68F3qKVxYiGQ6VowRbsc86uk8001e2sJL2k");
    const checkoutButton = document.getElementById("checkout-button");

    if (checkoutButton) {
        checkoutButton.addEventListener("click", function (e) {
            e.preventDefault();
            fetch("/commande/create-session/{{ reference }}", { method: "POST" })
                .then(response => response.json())
                .then(session => {
                    if (session.error === 'order') {
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .catch(error => console.error("Error:", error));
        });
    }
</script>
{% endblock %}
