{# templates/admin/fields/order_details.html.twig #}
<table class="table table-sm">
    <thead>
        <tr>
            <th>Poids</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in field.value %}
            <tr>
                <td>{{ detail.product }}</td>
                <td>{{ detail.quantity }}</td>
                <td>{{ detail.weight }} kg</td>
                <td>{{ detail.price|number_format(2, ',', ' ') }} €</td>
                <td>{{ detail.total|number_format(2, ',', ' ') }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
