{% extends 'base.html.twig' %}

{% block title %} Nos accessoires {% endblock %}

{% block content %}
<br><br><br>
<div class="accessoires-list container">
    {% for accessoire in accessories %}
        <div class="accessoire-item">
            <a href="{{ path('accessoire', {'slug': accessoire.slug}) }}">
                <img src="/uploads/{{ accessoire.image }}" alt="{{ accessoire.name }}">
            </a>
            <h2>{{ accessoire.name }}</h2>
            <p>{{ accessoire.description }}</p>
        </div>
    {% else %}
        <p>Aucun accessoire disponible.</p>
    {% endfor %}
</div>
{% endblock %}
